.input-group {
  margin: 20px 0; }

.centerInput {
  width: 10vw;
  position: relative;
  left: 25vw; }

.header {
  text-align: center; }

.header2 {
  font-family: 'Roboto Slab', serif;
  text-align: center; }

.averageText {
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif; }

.box1:hover > .spark:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: white;
  border: 2px solid black;
  border-radius: 8pt; }
  .box1:hover > .spark:hover .averageText {
    color: orange;
    font-size: 1.5em; }

.box2:hover > .spark:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: white;
  border: 2px solid black;
  border-radius: 8pt; }
  .box2:hover > .spark:hover .averageText {
    color: blue;
    font-size: 1.5em; }

.box3:hover > .spark:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: white;
  border: 2px solid black;
  border-radius: 8pt; }
  .box3:hover > .spark:hover .averageText {
    color: green;
    font-size: 1.5em; }

.box3:hover ~ td > .button1 {
  visibility: hidden; }

td, th {
  vertical-align: middle !important;
  text-align: center !important; }

td:first-of-type > div, td:first-of-type > div {
  height: 220px;
  width: 275px; }

.rowFont {
  font-size: 1.5em; }

.mapBox {
  display: flex;
  justify-content: center; }
  .mapBox div:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

body {
  background-image: url("../../imgs/sky-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Anton', sans-serif; }

.tempBox {
  svgHeight: 150;
  svgWidth: 180; }

.background {
  background-color: whitesmoke;
  border: 4px solid black;
  border-radius: 8pt;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 10px 10px; }

@media only screen and (max-width: 1440px) {
  .centerInput {
    position: relative;
    left: 33vw; } }

@media only screen and (max-width: 1024px) {
  .background {
    width: 86vw; }
  td:first-of-type > div, td:first-of-type > div {
    height: 160px;
    width: 200px; }
  .box:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); } }

@media only screen and (max-width: 768px) {
  .background {
    width: 113%; }
  .table {
    position: relative;
    right: 1.5vw; }
  .centerInput {
    position: relative;
    left: 43vw; }
  .background .header {
    font-size: 1.8em; }
  .background .header2 {
    font-size: 1.1em; }
  .background .rowFont {
    font-size: 1.1em; }
  .tempBox {
    svgHeight: 110;
    svgWidth: 132; } }
