.input-group {
  margin: 20px 0; }

.centerInput {
  width: 10vw;
  position: relative;
  left: 25vw; }

.header {
  text-align: center; }

.header2 {
  font-family: 'Roboto Slab', serif;
  text-align: center; }
