.averageText {
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif; }

.box1:hover > .spark:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: white;
  border: 2px solid black;
  border-radius: 8pt; }
  .box1:hover > .spark:hover .averageText {
    color: orange;
    font-size: 1.5em; }

.box2:hover > .spark:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: white;
  border: 2px solid black;
  border-radius: 8pt; }
  .box2:hover > .spark:hover .averageText {
    color: blue;
    font-size: 1.5em; }

.box3:hover > .spark:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: white;
  border: 2px solid black;
  border-radius: 8pt; }
  .box3:hover > .spark:hover .averageText {
    color: green;
    font-size: 1.5em; }

.box3:hover ~ td > .button1 {
  visibility: hidden; }

td, th {
  vertical-align: middle !important;
  text-align: center !important; }

td:first-of-type > div, td:first-of-type > div {
  height: 220px;
  width: 275px; }

.rowFont {
  font-size: 1.5em; }

.mapBox {
  display: flex;
  justify-content: center; }
