@import './SearchBar.scss';
@import './WeatherList.scss';

body {
  background-image: url('../../imgs/sky-2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Anton', sans-serif;
}
.tempBox {
  svgHeight: 150;
  svgWidth: 180;
}

.background {
  background-color: whitesmoke;
  border: 4px solid black;
  border-radius: $radius;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 10px 10px;
}

@media only screen and (max-width: 1440px) {
  .centerInput {
    position: relative;
    left: 33vw;
  }
}

@media only screen and (max-width: 1024px) {
  .background {
    width: 86vw;
  }
  td:first-of-type, td:first-of-type {
    > div {
      height: 160px;
      width: 200px;
    }
  }
  .box:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@media only screen and (max-width: 768px) {
  .background {
    width: 113%;
  }
  .table {
    position: relative;
    right: 1.5vw;
  }
  .centerInput {
    position: relative;
    left: 43vw;
  }
  .background {
    .header {
      font-size: 1.8em;
    }
    .header2 {
      font-size: 1.1em;
    }
    .rowFont {
      font-size: 1.1em;
    }
  }
  .tempBox {
    svgHeight: 110;
    svgWidth: 132;
  }
}







