$scale: scale(1.3);
$radius: 8pt;
$border: 2px solid black;
$white: white;
$font: 1.5em;

.averageText {
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.box1:hover {
  > .spark:hover {
    -webkit-transform: $scale;
    -ms-transform: $scale;
    transform: $scale;
    background-color: $white;
    border: $border;
    border-radius: $radius;
    .averageText {
      color: orange;
      font-size: $font;
    }
  }
}

.box2:hover {
  > .spark:hover {
    -webkit-transform: $scale;
    -ms-transform: $scale;
    transform: $scale;
    background-color: $white;
    border: $border;
    border-radius: $radius;
    .averageText {
      color: blue;
      font-size: $font;
    }
  }
}

.box3:hover {
  > .spark:hover {
    -webkit-transform: $scale;
    -ms-transform: $scale;
    transform: $scale;
    background-color: $white;
    border: $border;
    border-radius: $radius;
    .averageText {
      color: green;
      font-size: $font;
    }
  }
  ~ td {
    > .button1 {
      visibility: hidden;
    }
  }
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type, td:first-of-type {
  > div {
    height: 220px;
    width: 275px;
  }
}

.rowFont {
  font-size: 1.5em;
}

.mapBox {
  display: flex;
  justify-content: center;
}






