body {
    background-image: url('../imgs/sky-2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Anton', sans-serif;
}
.background {
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 7pt;
    margin-top: 20px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}
.header {
    text-align: center;
}
.rowFont {
    font-size: 1.3em;
}
.centerInput {
    width: 10vw;
    position: relative;
    left: 25vw;
}